@import '../../../assets/styles/main.scss';
.contact {
  width: 50%;
  @include flex-col-jcc-ais;

  h3 {
    font-size: $fs_40;
    font-weight: $font_bold;
    margin-bottom: clamp(0.94rem, calc(0.76rem + 0.89vw), 1.56rem);
  }
  p {
    font-size: $fs_70;
    font-weight: $font_semi_bold;
    margin-bottom: clamp(0.94rem, calc(0.67rem + 1.34vw), 1.88rem);
  }

  @media (max-width: $mq_900) {
    width: 100%;
    @include flex-col-jcc-aic;
  }
}
