@import '../../../assets/styles/main.scss';

.category_catalog {
  padding: 40px 0 90px 0;
  header {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    gap: 96px;
    h2 {
      font-size: $fs_40;
      font-weight: $font_bold;
      line-height: $lh_accent;
      letter-spacing: 1.2px;
    }
    a {
      width: 120px;
      height: 30px;
      padding: 8px 6px;
      border: 1px solid #8b8b8b;

      @include flex-jcc-aic;

      color: #8b8b8b;
      font-size: $fs_12;
      font-weight: $font_bold;
      line-height: $lh_accent;
      letter-spacing: 0.36px;

      box-shadow: 0 0 40px 40px $clr_white inset, 0 0 0 0 #8b8b8b;
      transition: all 350ms ease-in-out;
      &:hover {
        color: $clr_white;
        background-color: #8b8b8b;
        box-shadow: 0 0 10px 0 #8b8b8b inset, 0 0 10px 4px #8b8b8b;
      }
    }
  }
}
