@import '../../assets/styles/main.scss';

header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 20px 0 76px 0;
  .logo_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: clamp(1rem, calc(-0.07rem + 5.37vw), 3.75rem);
    .logo {
      transition: all 350ms ease-in-out;

      &:hover {
        filter: contrast(200%);
      }
    }
    .categories {
      color: $clr_ffffff;
      font-weight: $font_bold;
      line-height: normal;
      font-size: $fs_16;
      padding-block: clamp(0.44rem, calc(0.29rem + 0.71vw), 0.94rem);
      padding-inline: clamp(0.94rem, calc(0.67rem + 1.34vw), 1.88rem);
      border-radius: 5px;
      border: 2px solid $clr_339933;
      background-color: $clr_339933;

      box-shadow: 0 0 40px 40px $clr_339933 inset, 0 0 0 0 $clr_339933;
      transition: all 350ms ease-in-out;
      &:hover {
        color: $clr_339933;
        background-color: $clr_ffffff;
        box-shadow: 0 0 10px 0 $clr_339933 inset, 0 0 10px 4px $clr_339933;
      }
    }
  }

  .nav_menu {
    display: flex;
    justify-content: space-between;
    gap: clamp(1rem, calc(-2.8rem + 19.02vw), 10.75rem);

    .cart {
      display: flex;
      align-items: center;
      transition: all 250ms ease-in-out;

      &:hover {
        filter: invert(75%);
      }
    }
  }
}
