@import '../../assets/styles/main.scss';
.footer {
  color: $clr_black;
  @include flex-col-jcc-aic;
  gap: clamp(1.56rem, calc(0.85rem + 3.57vw), 4.06rem);
  padding: 48px 0 38px 0;
  .contact_info {
    width: 100%;
    display: flex;
    align-items: center;
    @media (max-width: $mq_900) {
      @include flex-col-jcc-aic;
      gap: clamp(1rem, calc(-2.51rem + 17.56vw), 10rem);
    }
  }
}
