@import '../../../assets/styles/main.scss';

.social_links {
  display: flex;
  gap: clamp(0.4rem, 3vw, 4rem);
  & a {
    @include flex-col-jcc-aic;
    color: $clr_black;
    font-size: $fs_15;
    font-weight: $font_semi_bold;

    img {
      margin-bottom: 8px;
      transition: all 0.5s ease-in-out;
    }
  }
  & a:hover img {
    transform: scale(1.2);
  }
}
