@import './fonts.scss';
@import './colors.scss';
html,
body {
  font-family: Montserrat, serif;
  font-style: normal;
  line-height: 1;
  font-weight: $font_semi_bold;
  font-size: 16px;
  color: $clr_000000;
}

.wrapper {
  width: min(1920px, 90%);
  margin-inline: auto;

  min-height: 100%;
  overflow: hidden;
}

.container {
  width: min(1384px, 96%);
  margin-inline: auto;
}
