@mixin flex-col-jcc-aic {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin flex-col-jcc-ais {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: start;
}

@mixin container {
  width: min(1384px, 96%);
  margin-inline: auto;
}
